<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>
  <strong>Books:</strong>
<ul>
    <% @author.books.each do |book| %>
      <li><%= link_to(book.title, book_path(book)) %></li>
    <% end %>
</ul>
</p>

<%= link_to "Back", authors_path %>