<div class="welcome"><h1> <%= link_to "Welcome to Yopeso Bookshelf", controller: "books" %> </h1> </div>
<a href="/books">
  <img src="/images/original/bookshelf.jpg" alt="bookshelf" width="1225">
</a>